.table th {
    vertical-align: middle;
}


.grid-contain 
{
    padding: 10px;
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 10px;
    row-gap: 10px;

    background-color: rgb(196, 196, 248);
    
}
    .grid-item 
    {   
        border: 1px solid;
        /* height: 150px; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }






















.leftside{
    width: 50%;
}
.rightside{
    width: 50%;
}





.themSpFormContainBox 
{
    display: flex;
    flex-wrap: wrap;
}

    .form 
    {
        position: relative;
        height: 50px;
        width: 100%;
        /* display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column; */
        overflow: hidden;
        
    }
    .form .lable-name
    {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        
        pointer-events: none;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid black;
        transition: all 0.3s ease;
    }
        .form .lable-name::after 
        {
           
            position: absolute; 
            height: 100%;
            width: 100%;
            left: 0;
            bottom: -1;

            content: '';

            border-bottom: 3px solid rgb(246, 86, 86);
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }


        .lable-name .content-name
        {
            position: absolute;
            bottom: 0px;
            left: 0;
            transition: all 0.3s ease;
        }
    .form input 
    {
        width: 100%;
        height: 100%;
        border: none;
        outline: none ;
        padding-top: 20px;
        color: #595f6e;
        transition: all 0.5 ease;
    }

    .form input:focus + .lable-name .content-name 
    , .form input:valid + label .content-name
    {
        transform: translateY(-150%);
        color: red;
        font-size: 14px;
    }
        .form input:focus + .lable-name::after 
        
        {
            transform: translateX(0%);
        }

.brand 
{
    
}