body {
  margin: 0;
  font-family: proxima-nova,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: proxima-nova,sans-serif;
}

html , body , body #root{
  /* height: 100%; */
  margin: 0;
  font-family: proxima-nova,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}